@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

.welcome-bg{
    -fx-background-color: white;
}

.login-box{
	-fx-pref-width: 450px;
    -fx-pref-height: 150px;
    -fx-background-radius: 15px;
    -fx-background-color: #eaefdb;
}

.login-font{
	-fx-font-family: "Dotemp 8bit";
	-fx-font-size: 45px;
}

.login-textfields{
	-fx-background-image: url("file:assets/signin_placeholder_icon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 15 50%;
    -fx-background-size: 30px 30px;
    -fx-padding: 0 0 0 60;
    -fx-pref-height: 50px;
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-effect: none; 
    -fx-font-family: "Helvetica"; 
    -fx-font-size: 14px; 
}

.showpass-style .box{
	-fx-background-color: white; 
    -fx-border-color: transparent; 
    -fx-pref-width: 13px;
    -fx-pref-height: 13px;
}

.showpass-style .text{
	-fx-font-family: "Helvetica"; 
    -fx-font-size: 11px; 
}

.login-button{
	-fx-pref-width: 100px;
    -fx-pref-height: 50px;
    -fx-background-color: #a6be5d;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-font-family: "Dotemp 8bit";
    -fx-font-size: 24px; 
}

.login-button:hover{
    -fx-background-color: #E5E8C9;

}

.clickable-style{
	-fx-focus-color: transparent;
	-fx-text-fill: #8cb021;
	-fx-underline: false;
}

.textflow-custom {
    -fx-font-family: "Helvetica";
    -fx-font-size: 11px;
}

.tagline-style{
	-fx-font-family: "Crimson Text", serif;
  	-fx-font-style: normal;
  	-fx-font-size: 17px;
}

.combo-box {
	-fx-background-image: url("file:assets/signin_placeholder_icon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 15 50%;
    -fx-background-size: 30px 30px;
    -fx-padding: 0 0 0 60;
    -fx-pref-height: 50px;
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-effect: none; 
    -fx-font-family: "Helvetica"; 
    -fx-font-size: 14px; 
    -fx-prompt-text-fill: #cccccc;
}

.create-button{
	-fx-pref-width: 100px;
    -fx-pref-height: 50px;
    -fx-background-color: #a6be5d;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-font-family: "Dotemp 8bit";
    -fx-font-size: 12px; 
}

.create-button:hover{
    -fx-background-color: #E5E8C9;
}

.success-style{
	-fx-pref-width: 400px;
    -fx-pref-height: 200px;
	-fx-background-radius: 15px;
    -fx-background-color: #eaefdb;
    -fx-font-family: "Helvetica";
    -fx-font-size: 14px;
}

.sidebutton{
	-fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-pref-width: 140px;        
    -fx-pref-height: 40px;        
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16px;
    -fx-font-family: "Helvetica";
    -fx-font-weight: bold;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-radius: 0;     
    -fx-alignment: center;  
}

.sidebar{
	-fx-background-color: #417940; 
	-fx-pref-width: 140px; 
	-fx-max-height: infinity;
}
